twitter:
  consumerKey:    A0Rsafek8NAMN6e4UMw7w
  consumerSecret: eA9WJtI5laekM7uvCd72JG8bhrwx4RfjLMSgFUfMo
hyves:
  consumerKey:    Nzc5N197eTZNqC8XvsEqquJhup4V
  consumerSecret: Nzc5N19d2C6VaUOs7xD6krhA64wu
facebook:
  consumerKey:    0249c28581c0d938cef4b7cdb76fa229
  consumerSecret: 088c60fb4cb73b7f013846754e488d17
  applicationId:  173648905987778